.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-content {
    width: 50%;
}

.left-content img {
    width: 100%;
}

.right-content h2 {
    font-size: 25px;
    font-weight: 700;
}